%h4#myModalLabel.modal-title Login to alibestdeal.com
.row
  .col-xs-6
    .well
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = label :email, "Email:", class: "control-label"
          = f.text_field :email, class: "form-control", id: "username", title: "Please enter you email", placeholder: "example@gmail.com"
          %span.help-block
        .form-group
          = label :password, "password", class: "control-label"
          = f.password_field :password, class: "form-control", title: "Please enter your password"
          %span.help-block
        #loginErrorMsg.alert.alert-error.hide Wrong username og password
        .checkbox
          %label
            = f.check_box :remember_me
            = f.label :remember_me
          %p.help-block (if this is a private computer)
        %button.btn.btn-success.btn-block{:type => "submit"} Login
        %a.btn.btn-default.btn-block{:href => "/forgot/"} Reset Password
  .col-xs-6
    %p.lead
      Register now for
      %span.text-success FREE
    %ul.list-unstyled{:style => "line-height: 2"}
      %li
        %span.fa.fa-check.text-success
        See all your orders
      %li
        %span.fa.fa-check.text-success
        Get deals notifications (optional)
      %li
        %span.fa.fa-check.text-success
        Save your favorites
      %li
        %span.fa.fa-check.text-success
        Premium product reviews
      %li
        %span.fa.fa-check.text-success
        Get a gift
        %small (only new customers)
    %p= link_to "Yes please, register now!", new_user_path, class: "btn btn-info btn-block"
