- if review.review_content.length >= 4
  .container
    .row.user-menu-container.square
      .col-md-6.user-details
        .row.coralbg.white
          .col-md-6.no-pad
            .user-pad
              %h3= review.username
              %h4.white
                = icon('fa', 'flag')
                = review.user_country
              %h4.white
                = icon('fa', 'calendar')
                = review.review_date
          .col-md-6.no-pad
            .user-image
        .row.overview
          .col-md-12.user-pad.text-center
            %b Review:
            = review.review_content
      .col-md-1.user-menu-btns
        .btn-group-vertical.square{id: 'responsive#{i}'}
          %a.btn.btn-block.btn-default.active{href: '#'}
            =icon('fas', 'camera fa-3x')
          %a.btn.btn-default{href: '#'}
            =icon('far', 'handshake fa-3x')
          %a.btn.btn-default{href: '#'}
            =icon('far', 'paper-plane fa-3x')
          %a.btn.btn-default{href: '#'}
            =icon('far', 'envelope fa-3x')
      %div{:class => 'col-md-5 user-menu user-pad #{i}'}
        .user-menu-content.active.img
          %ul.user-menu-list
            - if review.review_photos.length > 10
              = render '/products/show/photo_carousel', photos: review.review_photos, a: i
            - else
              %h2 Photos:
              %h3
                No photos in this review
                = icon('fa', 'folder-open')
        .user-menu-content
          %h3 You may also like:
          %ul.user-menu-list
            - @recommended_products.sample(2).each do |product|
              %li
                %h4
                  = link_to product_path(pretty_url_encode(product.productTitle)) do
                    = image_tag product.imageUrl, style: 'width:140px;height:90px;'
                    %small.coral
                      %strong ONLY #{product.salePrice} USD!
        .user-menu-content
          %h3 Popular Reviews:
          .row
            - @product_reviews[0+i...2+i].each do |product_review|
              .col-md-6
                .view
                  .caption
                    %p= product_review.user_id
                    = link_to review_path(pretty_url_encode(product_review.title)), rel: 'tooltip', title: 'View' do
                      %span.fa.fa-search.fa-2x
                  = image_tag product_review.cover.url, class: 'img-responsive'
                .info
                  %p.small{style: 'text-overflow: ellipsis'}
                    = pretty_url_decode(product_review.title)
                  %p.small.coral.text-right
                    = icon('fa', 'clock-o')
                    = distance_of_time_in_words(product_review.created_at, 0.1.minutes.from_now)
                    ago
                .stats.turqbg
                  %span.fa.fa-heart-o
                    %strong= rand(21..147)
                  %span.fa.fa-eye.pull-right
                    %strong= rand(147..1555)
        .user-menu-content
          .share-links
            %center
              %button.btn.btn-lg.btn-labeled.btn-warning{href: '#', type: 'button'}
                %span.btn-label>
                  = icon('fa', 'bell-o')
                  WORK IN PROGRESS
  :javascript
    $(document).ready(function() {
        var $btnSets = $('#responsive#{i}'),
        $btnLinks = $btnSets.find('a');
     
        $btnLinks.click(function(e) {
            e.preventDefault();
            $(this).siblings('a.active').removeClass('active');
            $(this).addClass('active');
            var index = $(this).index();
            $('div.user-menu.#{i}>div.user-menu-content').removeClass('active');
            $('div.user-menu.#{i}>div.user-menu-content').eq(index).addClass('active');
        });
    });

    $( document ).ready(function() {
        $('[rel='tooltip']').tooltip();    
     
        $('.view').hover(
            function(){
                $(this).find('.caption').slideDown(250); //.fadeIn(250)
            },
            function(){
                $(this).find('.caption').slideUp(250); //.fadeOut(205)
            }
        ); 
    });
