= form_tag fill_category_from_file_admins_path, action: :upload, multipart: true, method: :post do |f|
  .form-group
    = label :category, "Which category do you want to fill?"
    = select :category, "fields", Category.all.collect {|p| [ p.name, p.id ] }, {prompt: "Select Fields"}, {:multiple => true, :size => 10}
  .form-group
    = label :keywords, "Upload list of comma separated keywords"
    = file_field :keywords, "fields"
  .form-group
    = button_tag 'Submit', type: 'submit'
