<div class="row">
	<div class="col-md-12 text-center">
		<h2>
			Welcome to AliBestDeal.com Admin Panel v0.1
		</h2>
	</div>

	<div class="col-md-12">
		<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="process">
                <div class="process-row">
	                <div class="process-step">
	               		<%= link_to api_items_search_path, :class => "btn btn-default btn-circle category-listing-link" do %><i class="fa fa-underline fa-3x"></i><% end %>
	                	<p>Search by Keywords</p>
	                </div>
            	</div>
            </div>
        </div>

       	<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="process">
                <div class="process-row">
	                <div class="process-step">
	               		<%= link_to api_hot_products_path, :class => "btn btn-default btn-circle category-listing-link" do %><i class="fa fa-fire fa-3x"></i><% end %>
	                	<p>Hot Products by Category</p>
	                </div>
            	</div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="process">
                <div class="process-row">
	                <div class="process-step">
	               		<%= link_to api_auto_save_hot_products_path, :class => "btn btn-default btn-circle category-listing-link" do %><i class="fa fa-fire-extinguisher fa-3x"></i><% end %>
	                	<p>Add Items from Hot List <b>20 MINUTES OR MORE</b></p>
	                </div>
            	</div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="process">
                <div class="process-row">
	                <div class="process-step">
	               		<%= link_to api_clear_expired_items_path, :class => "btn btn-default btn-circle category-listing-link" do %><i class="fa fa-calendar-times-o fa-3x"></i><% end %>
	                	<p>Check for outdated products</p>
	                </div>
            	</div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="process">
                <div class="process-row">
	                <div class="process-step">
	               		<%= link_to article_manager_path, :class => "btn btn-default btn-circle category-listing-link" do %><i class="fa fa-list-alt fa-3x"></i><% end %>
	                	<p>Manage articles</p>
	                </div>
            	</div>
            </div>
        </div>

        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
            <div class="process">
                <div class="process-row">
	                <div class="process-step">
	               		<%= link_to comments_manager_path, :class => "btn btn-default btn-circle category-listing-link" do %><i class="fa fa-comment fa-3x"></i><% end %>
	                	<p>New Comments</p>
	                </div>
            	</div>
            </div>
        </div>

	</div>

