-# Move these partials to DB records.
.row
  .col-md-12.text-center
    %h2
      Welcome to AliBestDeal.com Admin Panel v0.1
      
  = render 'index_element', icon: 'underline', link: admins_aliexpress_api_products_search_path, text: 'Search by Keywords'
  = render 'index_element', icon: 'fire', link: admins_aliexpress_api_search_hot_products_by_category_path, text: 'Hot Products by Category'
  = render 'index_element', icon: 'fire-extinguisher', link: admins_aliexpress_api_save_hot_products_view_path, text: 'Add Products from Hot List(Long Task)'
  = render 'index_element', icon: 'calendar-times-o', link: admins_aliexpress_api_archive_expired_products_path, text: 'Check for outdated products'
  = render 'index_element', icon: 'list-alt', link: article_manager_admins_path, text: 'Article Manager'
  = render 'index_element', icon: 'comment', link: comments_manager_admins_path, text: 'Comments Manager'
  = render 'index_element', icon: 'file', link: fill_category_from_file_admins_path, text: 'Fill Category From File'
  = render 'index_element', icon: 'bomb', link: admins_aliexpress_api_fill_all_subcategories_path, text: 'Mass Subcategory Filling'
  = render 'index_element', icon: 'chrome', link: admins_scraping_update_products_details_path, text: 'Update Products Details'
  = render 'index_element', icon: 'trash', link: delete_empty_reviews_admins_path, text: 'Delete empty reviews'
