- if @products.length == 0
  Success, we have found #{@products.length} products!
- else
  Sorry, we found nothing :( #{link_to api_products_search_path}
= form_tag api_products_save_path do |f|
  .form-group
    = label :api_call, "Api Call Method"
    = button_tag 'Submit', type: 'submit'
  %table
    %tr
      %td productTitle
      %td Image
      %td salePrice
      = succeed ">" do
        %td discount
      %td validTime
      %td Approved?
      %td= link_to "Approve All", "#", :id => "approve_all", :remote => true
      %td= link_to "Disapprove All", "#", :id => "disapprove_all", :remote => true
    - @products["result"]["products"].each do |product|
      %tr
        %td= simple_format(product["productTitle"])
        %td= image_tag product["imageUrl"], {width: "250px", height: "250px"}
        %td
          %b= product["salePrice"]
        %td= product["discount"]
        %td= product["validTime"]
        %td
          = label :approved, "Accept?"
          = check_box_tag "productId[]", product["productId"], 0, :class => "checkboxes"
    %tr
      %td productTitle
      %td Image
      %td salePrice
      = succeed ">" do
        %td discount
      %td validTime
      %td Approved?
      %td= link_to "Approve All", "#", id: "approve_all", remote: true
      %td= link_to "Disapprove All", "#", id: "disapprove_all", remote: true
  .form-group
    = label :api_call, "Api Call Method"
    = button_tag 'Submit', type: 'submit'
:javascript
  $(document).ready(function () {
    $('#approve_all').click(function (){
      $(".checkboxes").each( function () {
        $(this).prop('checked', true);
        });
    });
    $('#disapprove_all').click(function (){
      $(".checkboxes").each( function () {
        $(this).prop('checked', false);
        });
    });
  });
