<% $i = 0 %>
<% $end = 0 %>
<% $start = 0 %>
<% $row = 0 %>
<div id="all-items">
	<div class="container">
	
	<% if session[:excluded_categories][0] == nil %>
		<% $categories = Category.order("RAND()").limit(3).where.not(:id => 200003498).where.not(:id => 200001996) %>
	<% else %>
		<% $categories = Category.order("RAND()").limit(3).where.not(:id => 200003498).where.not(:id => 200001996).where.not(id: session[:excluded_categories]) %>
	<% end %>

	<% if $categories[0] == nil %>
		<h2 style="text-transform:uppercase;">There is no more categories to show  - <%= link_to "More products", items_path, :style => "color:blue;" %></h2>
	<% else %>
		<% $categories.each do |category| %>
			<% session[:excluded_categories] << category.id %>
			<h1><i class="<%= category.icon %>"></i><%= link_to category.name, search_category_items_path(category.name,1) %></h1>
				<% $category = Item.where(:category => category.id) %>
				<% $rand = rand(0..$category.length-8) %>
				<% $category[$rand...$rand+8].each do |item| %>

				<% if $i%8 == 0 %>
					<div class="row"><%# adding row at start for 8 items %>
				<% end %>
				
				<% if $i%4 == 0 %><%# creating big column every 4-th item %>
					<div class="one-item col-md-3 col-sm-3 col-xs-12">
						<div class="item-sp item-lg">
							<span itemscope="" itemtype="http://schema.org/Product">
								
								<%= link_to item_path(item.productTitle), :itemprop => "url" do %>
						
								<div class="thumb vertical-alignment-helper">
									
									<div class="vertical-align-center vertical-align-top">
										<%= image_tag item.imageUrl, class: "img-responsive" %>
									</div>
									
								</div>
								
								<h4 itemprop="name">
									<%= simple_format(item.productTitle) %>
								</h4>
								
								<meta itemtype="http://schema.org/AggregateRating/ratingValue" content="5">
								
								<meta itemtype="http://schema.org/AggregateRating/reviewCount" content="5.0">
								
								<div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="<%= item.salePrice %>">
									<meta itemprop="priceCurrency" content="USD">
									<span class="small">NOW ONLY:</span>
									<span class="big">US <%= item.salePrice %>$</span>	
								</div>
								
								<% end %><%# end of things under url %>
							</span>
						</div>
					</div>
					<% $start = $start + 6 %><%# let now next statment to add new columns div %>
				<% else %><%# everything for smaller columns %>
					<% $end = $end + 2 %>
					
					<% if $start%6 == 0 %>
						<div class="three-item  col-md-3 col-sm-3 col-xs-12">
					<% end %>
					
						<div class="item-sp item-sm">
							<span itemscope="" itemtype="http://schema.org/Product">
								<%= link_to item_path(item.productTitle), :itemprop => "url" do %>

									<div class="thumb vertical-alignment-helper">
										<div class="vertical-align-center vertical-align-top">
											<%= image_tag item.imageUrl, class: "img-responsive" %>
										</div>
									</div>	
									
									<h4 itemprop="name">
										<%= simple_format(item.productTitle) %>
									</h4>
									
									<meta itemtype="http://schema.org/AggregateRating/ratingValue" content="4.8">
									<meta itemtype="http://schema.org/AggregateRating/reviewCount" content="5.0">
									
									<div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
										<meta itemprop="price" content="<%= item.salePrice %>">
										<meta itemprop="priceCurrency" content="USD">
										<span class="small">NOW ONLY:</span>
										<span class="big">US <%= item.salePrice %>$</span>	
									</div>
									
								<% end %>
							</span>
						</div>
					
					<% $start = $start + 2 %>

					<% if $start%12 == 0 %><%# Closing col divs %>
						</div><!-- /.col -->
					<% end %>
				<% end %>

				<% $i = $i + 1 %>

				<% if $i%8==0 %>
					</div><!-- /.row -->
				<% end %>
			<% end %><%# end of box generator %>
			<hr style="background-color:<%= random_colors %>;height:5px;border-radius:5px 5px 5px 5px;">
		<% end %>
	</div>

	<div class="rounded-plus-container">
		<%= link_to new_items_append_path, :remote => true, :style => "width:180px;height:180px;", :class => "add-categories" do %>
			<div class="rounded-plus">
				<i class="fa fa-plus fa-5x"></i>
			</div>
		<% end %>
	</div>

	<script type="text/javascript">
	  $(function() {
	    $('.add-categories').click(function() {
	      $('.rounded-plus-container').fadeOut(1000);
	    });
	  });
	</script>
<% end %><%# IF CATEGORY != NIL %>