<% $i = 0 %>
<% $end = 0 %>
<% $start = 0 %>
<% $row = 0 %>
<div id="all-items">
  <div class="container">
  <% @categories = Category.order("RAND()").limit(3).where.not(id: session[:excluded_categories]) if @categories.nil? %>
  <% if @categories.nil? %>
    <h2 style="text-transform:uppercase;">There is no more categories to show  - <%= link_to "More products", products_path, style: "color:blue;" %></h2>
  <% else %>
    <% @categories.each do |category| %>
      <% session[:excluded_categories] << category.id %>
      <h1><i class="<%= category.icon %>"></i><%= link_to category.name, search_category_products_path(category.name,1) %></h1>
        <% $category = Category.find(category.id).products %>
        <% $rand = rand(0..$category.length-8) %>
        <% $category[$rand...$rand+8].each do |product| %>

        <% if $i%8 == 0 %>
          <div class="row"><%# adding row at start every 8 product %>
        <% end %>
        
        <% if $i%4 == 0 %><%# creating big column every 4-th product %>
          <div class="one-item col-md-3 col-sm-3 col-xs-12">
            <div class="item-sp item-lg">
              <span itemscope="" itemtype="http://schema.org/Product">
                
                <%= link_to product_path(pretty_url_encode(product.productTitle)), itemprop: "url" do %>
            
                <div class="thumb vertical-alignment-helper">
                  
                  <div class="vertical-align-center vertical-align-top">
                    <%= image_tag "#{product.imageUrl}_350x350.jpg", class: "img-responsive" %>
                  </div>
                  
                </div>
                
                <h4 itemprop="name">
                  <%= simple_format(pretty_url_decode(product.productTitle)) %>
                </h4>
                
                <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                  <meta itemprop="price" content="<%= product.salePrice %>">
                  <meta itemprop="priceCurrency" content="USD">
                  <span class="small">NOW ONLY:</span>
                  <span class="big">US <%= product.salePrice %>$</span>  
                </div>
                
                <% end %><%# end of things under url %>
              </span>
            </div>
          </div>
          <% $start = $start + 6 %><%# let now next statment to add new columns div %>
        <% else %><%# everything for smaller columns %>
          <% $end = $end + 2 %>
          
          <% if $start%6 == 0 %>
            <div class="three-item  col-md-3 col-sm-3 col-xs-12">
          <% end %>
          
            <div class="item-sp item-sm">
              <span itemscope="" itemtype="http://schema.org/Product">
                <%= link_to product_path(pretty_url_encode(product.productTitle)), itemprop: "url" do %>

                  <div class="thumb vertical-alignment-helper">
                    <div class="vertical-align-center vertical-align-top">
                      <%= image_tag "#{product.imageUrl}_200x200.jpg", class: "img-responsive" %>
                    </div>
                  </div>  
                  
                  <h4 itemprop="name">
                    <%= simple_format(pretty_url_decode(product.productTitle)) %>
                  </h4>
                  
                  <meta itemtype="http://schema.org/AggregateRating/ratingValue" content="4.8">
                  <meta itemtype="http://schema.org/AggregateRating/reviewCount" content="5.0">
                  
                  <div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                    <meta itemprop="price" content="<%= product.salePrice %>">
                    <meta itemprop="priceCurrency" content="USD">
                    <span class="small">NOW ONLY:</span>
                    <span class="big"><%= product.salePrice %>$</span> 
                  </div>
                  
                <% end %>
              </span>
            </div>
          
          <% $start = $start + 2 %>

          <% if $start%12 == 0 %><%# Closing col divs %>
            </div><!-- /.col -->
          <% end %>
        <% end %>

        <% $i = $i + 1 %>

        <% if $i%8==0 %>
          </div><!-- /.row -->
        <% end %>
      <% end %><%# end of box generator %>
      <hr style="background-color:<%= random_colors %>;height:5px;border-radius:5px 5px 5px 5px;">
    <% end %>
  </div>

  <div class="rounded-plus-container">
    <%= link_to new_products_append_path, remote: true, style: "width:180px;height:180px;", class: "add-categories" do %>
      <div class="rounded-plus">
        <i class="fa fa-plus fa-5x"></i>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    $(function() {
      $('.add-categories').click(function() {
        $('.rounded-plus-container').fadeOut(200);
      });
    });
  </script>
  <% end %><%# IF CATEGORY != NIL %>
</div>