<div class="container">

	<div class="row">
		<div class="col-md-12 text-center fade-in-b recent-reviews">
			<h1>Recent AliExpress reviews:</h1>
		</div>
	</div>

	<div class="row recent-reviews-container" style="background-color:#f8f8f8;">
	<% $js = 1 %> <%# we need this variable to make show button work %>
		<% @recent_reviews.each do |review| %>
	        <div class="col-md-4">
	            <div class="card">
	                <div class="card-image">
	                	<%= link_to review_url(pretty_url_encode(review.title)) do %>
	                   		<%= image_tag review.cover.url, :class => "img-responsive" %>
	                   	<% end %>
	                    
	                </div><!-- card image -->
	                
	                <div class="card-content">
	                    <span class="card-title"><%= pretty_url_decode(review.title) %></span>                    
	                    <button type="button" id="show<%= $js %>" class="btn btn-custom pull-right" aria-label="Left Align">
	                        <i class="fa fa-ellipsis-v"></i>
	                    </button>
	                </div><!-- card content -->
	                <div class="card-action">
	                	<% review.keywords.split(",").each do |keyword| %>
	                    	<%= link_to keyword, search_keyword_path(keyword) %>
	                    <% end %>
	                </div><!-- card actions -->
	                <div class="card-reveal <%= $js %>">
	                    <span class="card-title"><%= pretty_url_decode(review.title) %></span> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
	                    <p><%= review.short_description %></p>
	                    <%= link_to "Read More", review_url(pretty_url_encode(review.title)), :class => "btn btn-success" %>
	                </div><!-- card reveal -->
	            </div>
	        </div>

	        <% $js = $js + 1 %>
		<% end %>
	</div>
	<div class="row more-reviews">
			<%= link_to "Read other products reviews", reviews_path %>
	</div>
</div>


<script type="text/javascript">
$(function(){

    $('#show1').on('click',function(){        
        $('.card-reveal.1').slideToggle('slow');
    });
    
    $('.card-reveal.1 .close').on('click',function(){
        $('.card-reveal.1').slideToggle('slow');
    });
});

$(function(){

    $('#show2').on('click',function(){        
        $('.card-reveal.2').slideToggle('slow');
    });
    
    $('.card-reveal.2 .close').on('click',function(){
        $('.card-reveal.2').slideToggle('slow');
    });
});

$(function(){

    $('#show3').on('click',function(){        
        $('.card-reveal.3').slideToggle('slow');
    });
    
    $('.card-reveal.3 .close').on('click',function(){
        $('.card-reveal.3').slideToggle('slow');
    });
});
</script>