<%= render "slider" %>

<%= render "recent_reviews" %>

<%= render "/layouts/ad" %>

<%= render "/products/best_products" %>

<hr style="height:5px;background-color:#2ecc71;border-radius:5px 5px 5px 5px;">
<h2 style="text-transform:uppercase;">Find awesome products between many categories:</h2>

<%= render "all_products" %>