<%= form_tag api_items_save_path do |f| %>
	
	<div class="form-group">
		<%= label :api_call, "Api Call Method" %>
		<%= button_tag 'Submit', type: 'submit' %>
	</div>

<table>

	<tr>
		<b>
		<td>productId</td>
		<td>productTitle</td>
		<td>productUrl</td>
		<td>Image</td>
		<td>originalPrice</td>
		<td>salePrice</td>
		<td>discount</td>
		<td>evaluateScore</td>
		<td>commission</td>
		<td>commissionRate</td>
		<td>volume</td>
		<td>packageType</td>
		<td>lotNum</td>
		<td>validTime</td>
		<td>commissionRate</td>
		<td>Approved?</td>
		</b>
	</tr>

	<% @items["result"]["products"].each do |item| %>
		<tr>
			<td><%= item["productId"] %></td>
			<td><%= item["productTitle"] %></td>
			<td><%= item["productUrl"] %></td>
			<td><%= image_tag item["imageUrl"], {:width => "100px", :height => "100px"} %></td>
			<td><%= item["originalPrice"] %></td>
			<td><%= item["salePrice"] %></td>
			<td><%= item["discount"] %></td>
			<td><%= item["evaluateScore"] %></td>
			<td><%= item["commission"] %></td>
			<td><%= item["commissionRate"] %></td>
			<td><%= item["volume"] %></td>
			<td><%= item["packageType"] %></td>
			<td><%= item["lotNum"] %></td>
			<td><%= item["validTime"] %></td>
			<td><%= item["commissionRate"] %></td>
			<td>
				<%= label :approved, "Accept?" %>
				<%= check_box_tag "productId[]", item["productId"], 0 %>
			</td>
		</tr>
	<% end %>
</table>
<% end %>