.col-md-12
  %b Sort by:
  .form-group
    = form_tag(request.original_url, method: "get") do
      .input-group
        .input-group-addon
          = icon('fa', 'dollar fa-2x')
        = text_field_tag :min_price, nil, placeholder: "Minimal Price", value: params[:min_price] != 0.0 ? params[:min_price] : nil, class: "form-control"
        = text_field_tag :max_price, nil, placeholder: "Maximum Price", value: params[:max_price] != 9999.99 ? params[:max_price] : nil, class: "form-control"
      .subcategory-container{style: "height:20px;overflow:hidden;margin-bottom:5px;"}
        %b Related subcategories:
        - if params[:subcategory] != nil
          = link_to search_category_products_path(@category.name,1) do
            .badge.badge-info
              = params[:subcategory]
              X
        - else
          - @category.subcategories.includes(:products).each do |subcategory|
            - if subcategory.with_products?
              = link_to search_subcategory_path(@category.name,subcategory.name,1) do
                .badge.badge-info= subcategory.name

      - if params[:subcategory].nil? && @subcategories.length > 7 && @category.id != 1509
        %i.more
          more subcategories
          = icon('fa', 'level-down-alt')
      = submit_tag "Filter", class: "btn btn-primary btn-sm"

:javascript
  $( ".more" ).click(function() {
    if($(this).text()=='more subcategories '){
      var curHeight = $(".subcategory-container").height();
      $(".subcategory-container").css('height', 'auto');
      var autoHeight = $(".subcategory-container").height();
        $(".subcategory-container").height(curHeight).animate({height: autoHeight}, 800);
      $(this).html("Less Categories <i class='fas fa-level-up-alt' aria-hidden='true'>");
      }else{
        $(".subcategory-container").animate({height: '20px'}, 800);
          $(this).html("more subcategories <i class='fas fa-level-down-alt' aria-hidden='true'></i>");
      }
  });
