.well
  %h4
    =icon('far', 'thumbs-up')
    Follow us!
  %ul
    %p
      = link_to "http://facebook.com/alibestdeal", target: "_blank" do
        %span.fa-stack.fa-lg
          =icon('fab', 'facebook fa-stack-1x')
      = link_to "http://twitter.com/alibestdeal", target: "_blank" do
        %span.fa-stack.fa-lg
          =icon('fab', 'twitter fa-stack-1x')
      = link_to "http://google.com/+Alibestdeal", target: "_blank" do
        %span.fa-stack.fa-lg
          =icon('fab', 'google-plus fa-stack-1x')
      = link_to "http://instagram.com/alibuying", target: "_blank" do
        %span.fa-stack.fa-lg
          =icon('fab', 'instagram fa-stack-1x')
      = link_to "http://linkedin.com/alibestdeal", target: "_blank" do
        %span.fa-stack.fa-lg
          =icon('fab', 'linkedin fa-stack-1x')
