<div class="page-header">
  <%= link_to new_subsubcategory_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Subsubcategory
  <% end %>
  <h1>Listing subsubcategories</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Parent</th>
            <th>Name</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @subsubcategories) do |subsubcategory| %>
            <td><%= subsubcategory.parent %></td>
            <td><%= subsubcategory.name %></td>
            <td><%= link_to 'Show', subsubcategory %></td>
        <td><%= link_to 'Edit', edit_subsubcategory_path(subsubcategory) %></td>
        <td><%= link_to 'Destroy', subsubcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
