<div id="myCarousel<%= a %>" class="carousel slide" data-ride="carousel" style="width:100%;height:100%;">

<% photos = photos.split(",") %><%# splitting photos url's separated by comma in db to array %>

  <% if photos.length-1 == 0 %>

    <% photos.each do |photo| %>
      <div class="item active">
        <%= image_tag photo, :style=> "width:100%;height:300px;" %>
      </div>
    <% end %>
  <% else %>
    <ol class="carousel-indicators">
      <% for i in 0..(photos.length-1) do %>
        <% if i==0 %>
          <li data-target="#myCarousel<%= a %>" data-slide-to="<%= i %>" class="active"></li>
        <% else %>
          <li data-target="#myCarousel<%= a %>" data-slide-to="<%= i %>"></li>
        <% end %>
      <% end %>
    </ol>
    <div class="carousel-inner" role="listbox">
      <% i = 0 %>
      <% photos.each do |photo| %>
        <% if i==0 %>
          <div class="item active">
        <% else %>
          <div class="item">
        <% end %>
          <%= image_tag photo, :style=> "width:100%;height:300px;" %>
        </div>
        <% i = i + 1 %>
      <% end %>
    </div>
    
    <a class="left carousel-control" href="#myCarousel<%= a %>" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style=""></span>
    </a>

    <a class="right carousel-control" href="#myCarousel<%= a %>" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style=""></span>
    </a>
  <% end %>
</div>