    <% if reviews[0] == nil %>
    	<div class="container">	
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="rating-block">

						<h4>Average user rating</h4>
						<h2 class="bold padding-bottom-7">0<small>/ 5</small></h2>
							<% for i in 1..5 do %><%# generate grey stars %>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
							<% end %>
					</div>
				</div>
				<div class="col-sm-6 col-xs-12">
					<h4>Rating breakdown</h4>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 0%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right">0</div>
					</div>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress">
							  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 0%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right">0</div>
					</div>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress">
							  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 0%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right">0</div>
					</div>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress">
							  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 0%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right">0</div>
					</div>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress">
							  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 0%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right">0</div>
					</div>
				</div>			
			</div>	

    <% else %>

	    <div class="container">
	    			
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<div class="rating-block">

							<%# calculate average rate and counts every rate %>
							<% $five = 0.0 %><% $four = 0.0 %><% $three = 0.0 %><% $two = 0.0 %><% $one = 0.0 %>
							<% $rate = 0.0 %>
							<% reviews.each do |review| %>
								<% $rate = $rate + review.user_order_rate %>
								<% $five += + 1 if review.user_order_rate == 100 %>
								<% $four += 1 if review.user_order_rate == 80 %>
								<% $three += 1 if review.user_order_rate == 60 %>
								<% $two += 1 if review.user_order_rate == 40 %>
								<% $one += 1 if review.user_order_rate == 20 %>
							<% end %>
							<% $rate = ($rate/reviews.length)/20 %>

						<h4>Average user rating</h4>
						<h2 class="bold padding-bottom-7"><%= $rate.round(1) %><small>/ 5</small></h2>
						<% for i in 1..$rate.to_i do %>
							<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
							  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
							</button>
						<% end %>
						<% if $rate < 5 %>
							<% for i in $rate.to_i...5 do %><%# generate grey stars %>
								<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
								  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
								</button>
							<% end %>
						<% end %>
					</div>
				</div>
				<div class="col-sm-7">
					<h4>Rating breakdown</h4>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress" style="height:9px; margin:8px 0;">
							  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: <%= ($five/reviews.length)*100 %>%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right"><%= $five.to_i %></div>
					</div>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress" style="height:9px; margin:8px 0;">
							  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: <%= ($four/reviews.length)*100 %>%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right"><%= $four.to_i %></div>
					</div>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress" style="height:9px; margin:8px 0;">
							  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: <%= ($three/reviews.length)*100 %>%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right"><%= $three.to_i %></div>
					</div>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress" style="height:9px; margin:8px 0;">
							  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: <%= ($two/reviews.length)*100 %>%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right"><%= $two.to_i %></div>
					</div>
					<div class="pull-left">
						<div class="rating-pulling-left">
							<div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
						</div>
						<div class="rating-progress-bar">
							<div class="progress" style="height:9px; margin:8px 0;">
							  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: <%= ($one/reviews.length)*100 %>%">
								<span class="sr-only">80% Complete (danger)</span>
							  </div>
							</div>
						</div>
						<div class="rating-pulling-right"><%= $one.to_i %></div>
					</div>
				</div>			
			</div>			
			
	    </div> <!-- /container -->
	<% end %>