<%= render "items/search_box" %>

<%= render "category_listing" %>
<div class="page-header">
  <%= link_to new_item_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Item
  <% end %>
  <h1>Listing items</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Url</th>
            <th>Normal Price</th>
			<th>Sale Price</th>
            <th>Quanity sold</th>
            <th>Commision</th>
            <th>Out of stock</th>
            <th>Discount</th>
            <th>Aff url</th>
			<th>Category</th>
			<th>Subcategory</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @items) do |item| %>
            <td><%= item.productTitle %></td>
            <td><%= item.imageUrl %></td>
            <td><%= item.productUrl %></td>
            <td><%= item.originalPrice %></td>
			<td><%= item.salePrice %></td>
            <td><%= item.quanity_sold %></td>
            <td><%= item.commision %></td>
            <td><%= item.validTime %></td>
            <td><%= item.discount %></td>
            <td><%= item.aff_url %></td>
			 <td><%= item.category %></td>
			  <td><%= item.subcategory %></td>
            <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>