<% if @items == nil %>
	<h2>Nothing found!</h2>
	<%= render "items/search_box" %>
<% else %>
	<% $i = 0 %>
	<% $end = 0 %>
	<% $start = 0 %>
	<% $row = 0 %>
<div id="all-items">
	<div class="container">
		<div class="col-md-12">
			<% @items[16*(params[:p].to_i-1)...16*params[:p].to_i].each do |item| %>

			<% if $i%8 == 0 %>
				<div class="row"><%# adding row at start for 8 items %>
			<% end %>
			
			<% if $i%4 == 0 %><%# creating big column every 4-th item %>
				<div class="one-item col-md-3 col-sm-3 col-xs-12">
					<div class="item-sp item-lg">
						<span itemscope="" itemtype="http://schema.org/Product">
							
							<%= link_to item_path(item.productTitle), :itemprop => "url" do %>
					
							<div class="thumb vertical-alignment-helper">
								
								<div class="vertical-align-center vertical-align-top">
									<%= image_tag item.imageUrl, class: "img-responsive" %>
								</div>
								
							</div>
							
							<h4 itemprop="name">
								<%= simple_format(item.productTitle) %>
							</h4>
							
							<meta itemtype="http://schema.org/AggregateRating/ratingValue" content="5">
							
							<meta itemtype="http://schema.org/AggregateRating/reviewCount" content="5.0">	
							
							<div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
								<meta itemprop="price" content="<%= item.salePrice %>">
								<meta itemprop="priceCurrency" content="USD">
								<span class="small">NOW ONLY:</span>
								<span class="big">US <%= item.salePrice %>$</span>	
							</div>
							
							<% end %><%# end of things under url %>
						</span>
					</div>
				</div>
				<% $start = $start + 6 %><%# let now next statment to add new columns div %>
			<% else %><%# everything for smaller columns %>
				<% $end = $end + 2 %>
				
				<% if $start%6 == 0 %>
					<div class="three-item  col-md-3 col-sm-3 col-xs-12">
				<% end %>
				
					<div class="item-sp item-sm">
						<span itemscope="" itemtype="http://schema.org/Product">
							<%= link_to item_path(item.productTitle), :itemprop => "url" do %>

								<div class="thumb vertical-alignment-helper">
									<div class="vertical-align-center vertical-align-top">
										<%= image_tag item.imageUrl, class: "img-responsive" %>
									</div>
								</div>	
								
								<h4 itemprop="name">
									<%= simple_format(item.productTitle) %>
								</h4>
								
								<meta itemtype="http://schema.org/AggregateRating/ratingValue" content="4.8">
								<meta itemtype="http://schema.org/AggregateRating/reviewCount" content="5.0">	
								
								<div class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
									<meta itemprop="price" content="<%= item.salePrice %>">
									<meta itemprop="priceCurrency" content="USD">
									<span class="small">NOW ONLY:</span>
									<span class="big">US <%= item.salePrice %>$</span>	
								</div>
								
							<% end %>
						</span>
					</div>
				
				<% $start = $start + 2 %>

				<% if $start%12 == 0 %><%# Closing col divs %>
					</div><!-- /.col -->
				<% end %>
			<% end %>

			<% $i = $i + 1 %>

			<% if $i%8==0 %>
				</div><!-- /.row -->
			<% end %>
	<% end %>
</div>



	<div class="row">
		<div class="col-md-12 text-center">
			<ul class="pagination">
			<% if params[:p].to_i < 6 %>
				<% $start = 1 %>
				<% $end = params[:p].to_i + 5 %>
			<% else %>
				<% if params[:p].to_i+5 > (@items.length/16.0).ceil %> 
					<% $start = params[:p].to_i - 5 %>
					<% $end = (@items.length/16.0).ceil %>
				<% else %>
					<% $start = params[:p].to_i - 5 %>
					<% $end = params[:p].to_i + 5 %>
				<% end %>
			<% end %>

			<% for i in $start..$end do %>
				<% if i == params[:p].to_i %>
					<li class="disabled"><%= link_to i, "", :style => "background-color:#3498db;", :disabled =>"disabled" %></li>
				<% else %>
					<% if params[:action] == "search_item" %>
						<li><%= link_to i, "#{search_item_path(params[:name], i)}" %></li>
					<% else %>
						 <li><%= link_to i, "#{search_category_items_path(params[:name], i)}?price_min=#{params[:price_min]}&price_max=#{params[:price_max]}&sort=#{params[:sort]}" %></li>
					<% end %>
				<% end %>
			<% end %>
			</ul>
		</div>
	</div>

	<%= render "items/search_box" %>
<% end %>