<div class="well">
  <h4><i class="fa fa-thumbs-o-up"></i> Follow me!</h4>
  <ul>
    <p>
      <%= link_to "http://facebook.com/alibestdeal", target: "_blank" do %>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      <% end %>

      <%= link_to "http://twitter.com/alibestdeal", target: "_blank" do %>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      <% end %>

      <%= link_to "http://google.com/+Alibestdeal", target: "_blank" do %>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-google-plus fa-stack-1x"></i>
        </span>
      <% end %>

      <%= link_to "http://instagram.com/alibuying", target: "_blank" do %>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x"></i>
        </span>
      <% end %>

      <%= link_to "http://linkedin.com/alibestdeal", target: "_blank" do %>
        <span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
      <% end %>
    </p>
  </ul>
</div>