<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/blog-post.css" rel="stylesheet">
     <link href="css/youtube.css" rel="stylesheet">
	 <link href="css/books.css" rel="stylesheet">
	
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>


    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <!-- the actual blog post: title/author/date/content -->
                <h1><a href=""><%= @review.title %></a></h1>
                <p class="lead">
					<i class="fa fa-user"></i>
					by <%= link_to @review.author, search_user_path(@review.author) %>
                </p>
                <hr>
                <p><i class="fa fa-calendar"></i> Posted on <%= @review.created_at %></p>
				<p>
					<i class="fa fa-tags"></i> 
					Tags: <%= @review.keywords.split(",").each do |keyword| %>
						<%= link_to search_keyword_path(keyword) do %>
							<span class="badge badge-info"><%= keyword %></span>
						<% end %>
					<% end %>
					
                <hr>
                <%= image_tag @review.cover.url, :class => "img-responsive" %>
                <hr>
                <p class="lead"><%= @review.long_description %></p>
                <hr>

            </div>

            <div class="col-lg-4">
			
				<%# rendering searchbox %>
				<%= redner "/search/searchbox" %>
				
				<%# rendering popular keywords box %>
                <%= render "popular_keywords" %>
				
				<%# render social sharing box %>
				<%= render "social_sharing" %>
				
                <%# render popular reviews box %>
				<%= render "popular_reviews" %>
				
                
			</div>

            <%= render "comments/comments" %>
            <%= render "comments/comment_form" %>
			
			<%# render popular items box %>
			<%= render "popular_items" %>
            
			<%# render 6 reviews categories %>
			<%= render "review_categories" %>

            <div class="col-lg-3 col-md-6">
                <h3>Contact:</h3>
				<p>Have a question or feedback? Contact me!</p>
				<p><a href="" title="Contact me!"><i class="fa fa-envelope"></i> Contact</a></p>
            <h3>Follow:</h3>
			
			
<a href="" id="gh" target="_blank" title="Twitter"><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
Twitter</a>
<a href=""  target="_blank" title="GitHub"><span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-github fa-stack-1x"></i>
</span>
GitHub</a>

		


		
			
			</div>
			<br/>
            

<a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

<div class="g-plusone" data-annotation="inline" data-width="300" data-href=""></div>

<!-- Helyezd el ezt a címkét az utolsó +1 gomb címke mögé. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
			<br/>
			
				<hr>
                    <p>Copyright © Your Website | <a href="">Privacy Policy</a> | <a href="">Terms of Use</a></p>
					
					
					
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>